\MoNuSAC_masks/
540x540_80x80/
Organizers_MoNuSAC_test_results/
*__pycache__/
*.DS_Store
.vscode/settings.json
MoNuSAC_backup/
*slurm-*
src/*.npy
*test_MoNuSaC.ipynb*
*MoNuSAC_processed/*
*data/*
*test/*
*v1.0/*
*v1_multitask/*
*v2_multitask/*
*v2_multitask_short/*
src/test/*
.vscode/settings.json
src/test.ipynb
data/cpm15/Images/image_00.png
*.out
*.npy
*.mat